<div>
  <h2>UNO Game</h2>
    <h3><code>Players: {{playerNum}}</code></h3>
    <div class="container">
      <button type="button" (click)="AddPlayers()">Add Player</button>

      <button type="button" (click)="RemovePlayers()">Remove Player</button>
      <br><br>
      <button type="button" (click)="Start()">Start</button>

      <h3>Cards</h3>
        <table>
          <tr *ngFor="let p of playerList">
            <td>Player {{p.index}}: </td>
              <td *ngFor="let i of p.cards">
                <tr>
                  <img [src]="i.imageUrl"/>
                </tr>
              </td>
          </tr>
        </table>
    </div>
</div>